html{
	scroll-behavior: smooth;
}
.homepic{
	height: 100vh;
	object-fit: cover !important;
	background-size: cover;
	margin: 0;
}

.carselect{
	height: 300px;
	width: 100px;
	object-fit: cover !important;
	/*object-fit: cover;*/
}

.logopic{
	height: 30px;
	width: 30px;

}

.cars{
	background: #D6DBDF;
	;
}


.titlerequest{
	margin: 0;
}

.request{
	border: 1px solid #D6DBDF;
	;
	padding: 10px;
	border-radius: 5px;
}
.tradein{
	margin-right: 100px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #C8C8C8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlaycontain:hover .overlay {
  height: 100%;
}
.overlaycontain {
  position: relative;
  width: 100%;
}

.overlaytext {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.homepic { 
  /* The image used */
  background-image: url("../images/header.jpg");

  /* Full height */
  height: 100vh; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.teampic{
	height: 200px;
	/*object-fit: cover !important;*/
	background-size: cover;
}

.vl {
  /*border-left: 3px solid black;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;*/
  font-size: 35px;
}

.vl:before {
	content: " ";
	border-left: 3px solid black;
}

.words{
	text-align: justify;
}




/*flickity trial*/
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: white;
  /*background: #EEE;*/
}

.carousel-cell {
  width: 66%;
  height: 100%;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
 
 .gallery-cell {
    width: 100%;
    height: 200px;
    padding: 40px;
    /*overflow-y: auto;*/
    // Flexbox Settings
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
  }



/*flickity trial*/

.carreq{
	background: #D6DBDF;
}



.foot{

background: grey;
}



